.galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

img{
    width: 300px;    
}

img:hover{
    opacity: 0.3;
    cursor: pointer;
}